body {
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  padding: 0, 0, 0 20px;
  margin: 0;
}

.bg {
  width: 100%;
  height: 146vh;
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  /* background-image: url("../images/kitchenview1.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(45%);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  width: 100%;
  background-color: #2b2929;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3 green, blue, alpha);
  position: fixed;
  z-index: 3;
  opacity: 0.8;
}
.nav ul {
  display: flex;
}

.nav ul li a {
  color: rgb(255, 255, 255);
  font-weight: 500;
}

.nav ul li a:hover {
  color: orange;
}

.initials {
  text-align: center;
  font-size: 42px;
  color: rgb(255, 255, 255);
  position: relative;
  bottom: 10px;
  left: 10px;
}
.initials:hover {
  color: orange;
}
#profile {
  height: 450px;
  width: 270px;
  margin: 20px;
  border-radius: 50%;
  border: solid 6px rgb(48, 46, 46);
  box-shadow: rgba(0, 0, 0, 0.6);
  margin-left: 30px;
  z-index: 1;
  position: relative;
}
#img-size {
  width: 100%;
  height: 100vh;
}
/* @media: adjustments for smaller screens */
@media (max-width: 1370px) {
  #profile {
    position: relative;
    top: 250px;
    height: 45vh;
  }
}

@media (max-width: 1200px) {
  .bg {
    height: 262vh;
  }
}

#gif-next img {
  transform: scaleX(-1);
  position: relative;
  top: 400px;
}

#gif-next h5 {
  position: relative;
  top: 400px;
}

.text-container {
  text-align: center;
  color: rgb(255, 255, 255);
  position: relative;
  z-index: 1;
  top: 150px;
  margin: 0;
  width: 100%;
}

h3 {
  text-align: center;
}
.dropdown-menu .dropdown-item {
  color: black;
}

#travel-image img {
  display: block;
  margin: 0 auto;
  width: 50%;
  margin: auto;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4),
    10px 4px 10px 0 rgba(0, 0, 0, 0.12);
}

.card {
  display: block;
  width: 18rem;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px auto;
  padding: 10px;
}

.card-title {
  text-align: left;
  margin: 0;
  padding: 0;
}
.card-text {
  text-align: left;
  margin: 0px;
  padding: 0;
}

.all-cards {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.main {
  padding: 0px;
  margin: 0;
}

p {
  display: block;
  text-align: center;
  padding: 20px 0px 40px 0px;
}

hr {
  border: solid 2px gray;
  width: 200px;
}

.zoom-img:hover {
  transform: scale(1.5);
  position: relative;
  z-index: 1;
}

.border-img {
  border-radius: 20%;
  border: solid white 3px;
  box-shadow: rgba(0, 0, 0, 0.3);
  width: 300px;
  height: 35vh;
  max-width: 100%;
  margin: 6px;
  padding: 0;
  vertical-align: middle;
}

.container-animals p {
  color: white;
  display: inline-block;
  margin: 10px;
  text-align: justify;
}
.container-animals {
  position: relative;
  top: 180px;
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
}

.text-container {
  padding-top: 0%;
  margin: 0;
  position: relative;
  z-index: 1;
  height: 60px;
  background-color: rgb(48, 46, 46);
}
h4 {
  color: orange;
  text-align: center;
}

.slides {
  width: 800px;
  height: 542px;
  display: flex;
  overflow: auto;
  margin: 0 auto;
  margin-bottom: 80px;
  margin-top: 20px;
  background-color: rgb(54, 54, 52);
  border: 2px solid white;
}

.slide-img {
  width: 800px;
  height: 432px;
  flex-shrink: 0;
  height: 100%;
  padding: 10px;
  margin-bottom: 0;
  border: 3px solid white;
}

.sub-title {
  padding-top: 10px;
  margin: 0;
  position: relative;
  z-index: 1;
  bottom: 20px;
  height: 70px;
  background-color: rgb(48, 46, 46);
  color: white;
  border-bottom: 2px solid rgb(165, 160, 160);
  border-top: 2px solid rgb(165, 160, 160);

  text-align: center;
}

iframe {
  padding: 6px;
  background: rgb(165, 160, 160);
  border: 3px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.videos {
  position: relative;
  display: flex;
  padding: 0;
  margin-bottom: 6px;
  justify-content: space-evenly;
}

.title {
  padding-top: 0px;
  margin-bottom: 100px;
  position: relative;
  top: 100px;
  color: rgb(255, 255, 255);
  text-align: center;
  height: 60px;
}

.light-text {
  color: rgb(223, 217, 217);
}

#carouselExampleIndicators {
  background: rgb(165, 160, 160);
  border: 3px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: block;
  margin: 0 auto;
  width: 800px;
  height: 500px;
  padding: 10px;
  padding-bottom: 0px;
}

.carousel-inner img {
  width: 780px;
  height: 470px;
  margin: 0 auto;
}
.carousel-caption {
  color: rgb(223, 217, 217);
  background-color: rgb(48, 46, 46);
  padding: 10px;
  text-align: center;
  opacity: 0;
  transition: 500ms ease-in-out;
  width: auto;
  height: 200px;
  margin-bottom: 20px;
}
.carousel-item:hover .carousel-caption {
  opacity: 1;
}

video {
  margin-bottom: 30px;
  padding: 10px;
  background: rgb(165, 160, 160);
  border: 3px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#bg-img-size {
  height: 5200px;
  width: 100%;
  filter: brightness(32%);
}
